
/*comentario*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffbd59;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #32CD32;
}

body {
  background: #488b5c url("Logo.png") no-repeat;
  float: right;
  color: #ffbd59
}

p.home {
  font-family: 'Comfortaa';
  font-size: 20px;
  font-style: bold;
  color: #ffbd59;
}

p.mats {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #494645;
}

p.jardin {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #494645;
}

p.huerto {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #494645;
}